.products{
    background-color: #ddd;
}

.products h3 {
    font-size: 20px;
    padding: 30px;
}

.products ul {
    list-style-type: none;
    padding: 0 30px 30px;
}

.products li {
    text-decoration: none;
    margin-bottom: 20px;
}

.products a {
    color: #000;
    text-decoration: none;  
}
.products a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: underline;  
}